body {
    font-family: "Montserrat";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
    font-weight: 900;
}

p {
    color: white;
}

/* Headings */

.big-heading {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.2;
}

.section-heading {
    font-size: 2.6rem;
    line-height: 1.5;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #4e3a08;
    color: #FFEECB;
}

.white-section {
    background-color: #FFEECB;
    color: #4e3a08;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
    margin-bottom: -20px;
}

.navbar-logo {
    width: 200px;
    height: 50px;
    margin-top: 15px;
    margin-left: 10px;
}

.nav-item {
    padding: 0 18px;
    color: black;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
    color: black;
}

/* Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
    margin-top: -100px;
    margin-left: -150px;
    margin-right: -150px;
    margin-bottom: -20px;
}

#tagline {
    text-align: left;
    margin-top: 20px;
}

.carousel-item .title-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    margin: 0 auto;
}


/* Features Section */

#features {
    padding: 5% 5%;
    position: relative;
    margin-top: -25px;
    margin-bottom: -25px;
}

.feature-title {
    margin-top: 10px;
    font-size: 1.2rem;
}

.feature-box {
    padding: 5%;
}

.fa-solid {
    color: #260B00;
}

/* Testimonials Section */

.testimonial-text {
    font-size: 2.6rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* CTA Section */

#cta {
    padding: 5% 7%;
    margin-bottom: -100px;
    color: #260B00;
}

.social-icon {
    margin: 20px 10px;
}

#footer {
    padding: 3% 5%;
}

#footer p {
    color: #4e3a08;
}

/* Modal */
.modal-content {
    background-color: #4E4637;
    color: #FFEECB;
    text-align: left;
}

.modal-header {
    background-color: #4E4637;
    color: #FFEECB;
    border-bottom: none;
    margin-bottom: -5px;
}

.modal-title {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.5rem;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
}

.modal .btn-close {
    color: #fff;
}

.modal-footer .btn-close {
    color: #fff;
    opacity: 1;
}

.modal-footer .btn-close:hover {
    opacity: 0.75;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}