body {
    font-family: "Montserrat";
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
    font-weight: 900;
}

.cta {
    font-weight: 400;
}

p {
    color: white;
}

/* Headings */

.big-heading {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.2;
}

.section-heading {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Containers */

.container-fluid {
    padding: 6.5% 12%;
}

/* Sections */

.colored-section {
    background-color: #4e3a08;
    color: #FFEECB;
}

.white-section {
    background-color: #FFEECB;
    color: #4e3a08;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
    margin-bottom: -20px;
}

.navbar-logo {
    width: 200px;
    height: 50px;
    margin-top: 15px;
    margin-left: -10px;
}

.nav-item {
    padding: 0 15px;
    color: black;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
    color: black;
}

#searchForm {
    margin-right: -10px;
}

/* Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
    margin-top: -100px;
    margin-left: -150px;
    margin-right: -150px;
    margin-bottom: -20px;
}

#tagline {
    text-align: left;
    margin-top: 20px;
    padding-top: 20px;
}

.carousel-item .title-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    margin: 0 auto;
}


/* Features Section */

#features {
    padding: 35px 0;
    text-align: center;
}

.feature-box {
    background-color: #FFEECB;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 450px;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.feature-box:hover {
    transform: translateY(-5px);
}

.feature-title {
    padding-top: 10px;
}

#footer {
    padding: 3% 5%;
}

#footer p {
    color: #4e3a08;
    margin-bottom: 7.5px;
}

#footer a {
    color: #4e3a08;
}

/* Form Modal */

.modal-content {
    background-color: #4e3a08;
    color: #FFEECB;
    text-align: left;
}

.modal-header {
    background-color: #4e3a08;
    color: #FFEECB;
    border-bottom: none;
    margin-bottom: -5px;
}

.modal-title {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.5rem;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
}

.modal .btn-close {
    color: #fff;
}

.modal-footer .btn-close {
    color: #fff;
    opacity: 1;
}

.modal-footer .btn-close:hover {
    opacity: 0.75;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #FFEECB;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card .image {
    position: relative;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card .image img {
    width: 300px;
    height: 200px;
}

.card .content {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: left;
}

.card .name {
    font-weight: 600;
    font-size: 1.1rem;
    color: #4e3a08;
    margin-bottom: 10px;
    text-align: center;
}

.card .name span {
    color: #4e3a08;
    font-weight: 400;
}

.card .age,
.card .personality,
.card .toy {
    margin-bottom: 5px;
    color: #4e3a08;
}

.card .age span,
.card .personality span,
.card .toy span {
    color: #4e3a08;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#petDetailsModal .card {
    background-color: #FFEECB;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
}

#petDetailsModal .card:hover {
    transform: translateY(-5px);
}

.custom-modal {
    width: 400px;
    display: flex;
    margin: 0;
}
